* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #08ada5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: #e6f0f0;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

h2 {
  text-align: start;
  margin-bottom: 20px;
  color: #140101;
}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}

button:hover {
  background: #0056b3;
}